<div class="about">
    <article>
        <h1 class="about-title">{{title}}</h1>
        <p class="about-para">Due to covid a lot of problem arises, and <br>
            people starts to find their solution. One of the problem is <br>
            recruitment .As this disease can be spread just by talking .It <br> is mot possible to take effective interview. <br> Our project is the solution of the same . <br>
            Features: <br>
            1. 1 on 1 meet : interviewr can contact application through url link sharing<br>
            2. Message: As our project is more focused toward It industry, <br> Interviewer can <br> share their question here and get answer from others <br>
            3. Code Sharing : It allows to take coding tests of applicant as <br> applicant  can write snippets of code and provide correct answer </p>

    </article>
</div>