<div class="contact">

<form class="form" method="POST">
  <h2 class="form-title">Contact Us</h2>
  <p type="Name:">
      <input placeholder="Your name here.." class="input-field" required="" style="color:rgb(37, 44, 54)"></input>
  </p>
  <p type="Email:">
      <input placeholder="Your Email.." class="input-field" required="" style="color:rgb(37, 44, 54)"></input>
  </p>
  <p type="Message:">
      <textarea placeholder="Message us.." class="input-textarea" required="" style="color:rgb(37, 44, 54)"></textarea>
    </p>
  <button class="form-button">Send Message</button>
</form>

</div>
