
<section class="hero">
    <div class="hero-content">
        <h1 class="hero-title">Code / Connect _ View  </h1>
        <p class="hero-para">Welcome to {{title}} . Platform where  you can <span>code and connect</span></p>
        {{!-- {{#if isAuthenticated}} --}}
            <a href="/createTask" class="form-button">Create New Task</a>
        {{!-- {{/if}} --}}
    </div>
    <div class="hero-svg">

    </div>
</section>
